.grid {
    position: relative;
    align-items: center;
    width: 560px;
    height: 300px;
    border: solid 3px rgb(238, 167, 167);
    margin-top: 100px;
    top: 50%;
    left: 35%;
 
  }

  
  .user {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: rgb(226, 43, 98);
  }
  
  .block {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: rgb(233, 140, 20);
  }
  
  .ball {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: red;
  }

  h1{
    text-align: center;
  }
  h2{
    text-align: center;
  }